body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.conteudo-texto {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-texto p:first-of-type{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.conteudo-texto h1{
    font-weight: bold;
    color: #0b103f
}

.conteudo-texto h1 span{
    font-size: 60px;
    font-weight: 700;
    color: #0a1685;
}

.conteudo-texto p{
    font-weight: 500;
    font-size: 18px;
}

.btn {
    width: 40%;
    min-width: 250px; 
    max-width: 400px;
    background-color: #0b103f;
    color: #fff;
    padding: 1rem;
    font-weight: 700;
    border-radius: 15px;
    border: none;
}

.btn:hover {
  background-color: #0a1685;
  color: #fff;
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .conteudo-imagem {
    display: none; 
  }
  
  .conteudo-texto {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 400px;
  }

  .conteudo-texto h1 {
    font-size: 28px;
  }

  .conteudo-texto h1 span {
    font-size: 36px;
  }

  .conteudo-texto p:first-of-type {
    font-size: 20px;
  }

  .conteudo-texto p {
    font-size: 16px;
  }

  .btn {
    width: 70%;
    padding: 0.8rem 1.5rem;
  }
}


