.login #login-left { 
  height: 90vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.login #login-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.login #content-login {
  padding: 2rem;
  background-color: #e1e8f0;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login #form-login {
  width: 100%;
}

.login form .formulario {
  text-align: left;
}

.login #login-img {
  width: 70%;
  height: 70%;
}

.login #logo {
  width: 20%;
  height: 25%;
}

.login #title-login {
  color: #0b103f;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.login #subtitle-login {
  color: #525b68;
  text-align: center;
  font-size: 16px;
}

.login .formulario label{
  color: #0B3C5D !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.login .formulario-input {
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.login #btn-login {
  background-color: #0b103f;
  color: #fff;
  padding: 0.6rem;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login #btn-login:hover {
  background-color: #0a1685;
  color: #fff;
  transform: scale(1.02);
}

.login hr {
  border: none;
  height: 1px;
  background-color: #0b103f;
  width: 100%;
}

.login #cadastro {
  text-align: center;
  font-size: 18px;
}

.login .login-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login .login-error p {
  color: red;
  font-weight: 600;
}

.login #forget-pass {
  text-align: right;
  margin-bottom: 1rem;
}

.login .login-link {
  color: #0b103f;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.login .login-link a:hover {
  color: #054085;
  text-decoration: underline;
}
