.recuperar #recuperar-esquerda { 
  height: 90vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.recuperar #recuperar-direita {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.recuperar #content-recuperar {
  padding: 2rem;
  background-color: #e1e8f0;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recuperar #form-recuperar {
  width: 100%;
}

.recuperar form .formulario {
  text-align: left;
}

.recuperar #recuperar-img {
  width: 80%;
  height: 80%;
}

.recuperar #logo {
  width: 20%;
  height: 25%;
}

.recuperar #titulo-recuperar {
  color: #0b103f;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.recuperar .formulario label{
  color: #0B3C5D !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.recuperar .formulario-input {
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.recuperar #btn-recuperar {
  background-color: #0b103f;
  color: #fff;
  padding: 0.6rem;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.recuperar #btn-recuperar:hover {
  background-color: #0a1685;
  color: #fff;
  transform: scale(1.02);
}

.recuperar hr {
  border: none;
  height: 1px;
  background-color: #0b103f;
  width: 100%;
}

.recuperar #cadastro {
  text-align: center;
  font-size: 18px;
}

.recuperar .recuperar-error {
  display: flex;
  align-items: center;
  justify-content: left;
}

.recuperar-error #erro {
  color: red;
  font-weight: 500;
}

.recuperar-error #msg {
  color: green;
  font-weight: 500;
}


.recuperar .recuperar-link {
  color: #0b103f;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.recuperar .recuperar-link a:hover {
  color: #054085;
  text-decoration: underline;
}
